* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: ormont, 'avenir next', sans-serif;
}

body {
  background: #e1e1f2;
  text-align: center;
}

button:focus {
  outline: none;
}

.dropmenu-container {
  display: inline-block;
  position: relative;
  width: 10em;
  margin-top: 1em;
}

.dropmenu-activate {
  width: 100%;
  font-size: 1.25em;
  height: 2em;
  background: #6762a3;
  color: white;
  -webkit-transition: all .125s;
}

.dropmenu-activate:hover {
  background: #393d5c;
}

.dropmenu-content {
  width: 10em;
  position: absolute;
  top: 3em;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
}

.dropmenu-option {
  font-family: quicksand, 'avenir next';
  width: 100%;
  font-size: 1.25em;
  height: 2em;
  background: #6762a3;
  color: white;
  border-top: .1em solid #e1e1f2;
  -webkit-transition: all .125s;
}

.dropmenu-option:hover {
  background: #393d5c;
}

.visible + .dropmenu-content {
  visibility: visible;
  opacity: 1;
  top: 2.6em;
}

.visible {
  background: #393d5c;
  font-weight: bold;
}
