body {
  background-image: url("wall.jpg");
  background-size: cover;
  margin: 0;
}

.open-modal-button {
  font-size: 3.5em;
  font-family: impact;
  position: absolute;
  background: red;
  color: white;
  border: none;
  width: 5.5em;
  height: 5.5em;
  border-radius: 5em;
  left: 50%;
  top: 50%;
  border: 3px solid black;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 1.5em .3em firebrick;
}

.modal-greyout {
  position: absolute;
  width: 100%;
  height:100%;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 0.3s;
}

.modal-content {
  border: 2px dashed white;
  position: absolute;
  background: crimson;
  width: 25em;
  height: 15em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close-modal-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: .25em;
  font-size: 1.5em;
  height: 2em;
  width: 7em;
  border: none;
  color: crimson;
  background: white;
}

.close-modal-button:focus {
  outline: none;
}

.close-modal-button:active {
  background: maroon;
  color: white;
}

.open-modal-button:focus {
  outline: none;
}

.open-modal-button:active {
  background: firebrick;
  box-shadow: inset 0 0 1.5em .3em red;
}

.visible {
  opacity: 1;
  visibility: visible;
}
